<form id="popupForm" asp-action="add" asp-controller="Admin" method="post">
    <div class="col-auto">
        <h6>"Name"</h6>
        <div class="input-group mb-2">
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>

    <div class="col-auto">
        <h6>"Quantity"</h6>
        <div class="input-group mb-2">
            <input asp-for="Quantity" class="form-control" />
            <span asp-validation-for="Quantity" class="text-danger"></span>
        </div>
    </div>

    <div class="col-auto">
        <h6>"Price"</h6>
        <div class="input-group mb-2">
            <input asp-for="Price" class="form-control" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
    </div>

    <div class="col-auto">
        <h6>"Description"</h6>
        <div class="input-group mb-2">
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </div>

    <div class="col-auto">
        <input type="submit" value=" Create" class="btn btn-primary" />
    </div>

</form>
