<h1>Add Admin</h1>

<form action="/AcountAdmin/saveAddAdmin" method="post">
    Admin name: <input type="text" name="Adminname" value="" />
    <br />
    email: <input type="email" name="email" value="" />
    <br />
    password:<input type="text" name="password" value="" />
    <button type="submit">Create Admin</button>
</form>
